<!-- Form to post questions -->
<div class="container main-box">
<h2>Welcome to the Dashboard</h2>
<form [formGroup]="reactiveForm" (ngSubmit)="submitQuestion()" class="form">
  <div formArrayName="questionItems">
    <div *ngFor="let questionItem of questionItems.controls; let i = index">
      <div class="main-box mt-3" [formGroupName]="i">
        <div class="form-group mt-3">
          <label for="ques">Question:</label>
          <input type="text" class="form-control" formControlName="ques" placeholder="Enter the question">
        </div>
        <div class="form-group mt-3">
          <div class="row">
            <div class="col">
              <label for="code">Question Code:</label>
              <input type="text" class="form-control" formControlName="code" placeholder="Enter the question code">
            </div>
            <div class="col">
              <label for="marks">Marks:</label>
              <input type="number" class="form-control" formControlName="marks" placeholder="Enter the marks">
            </div>
          </div>
        </div>
        <div class="text-right mt-3">
          <button type="button" class="btn btn-danger" (click)="removeQuestion(i)">Remove</button>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons text-center">
    <button type="submit" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-secondary" (click)="addQuestion()">Add New Question</button>
  </div>
</form>
</div>




  <!-- Display fetched questions -->

<div class="container main-box">
  <h2>Fetched Questions</h2>

  <ul class="list-group">
    <li class="list-group-item" *ngFor="let question of questions">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title bg-secondary text-white p-2 rounded-top">Id: {{ question.id }}</h5>
          <div class="row">
            <div class="col">
              <h5 class="card-title">Text:</h5>
              <p class="card-text">
                <span [hidden]="question.editMode">{{ question.questionText[0].text }}</span>
                <input type="text" [(ngModel)]="question.questionText[0].text" class="form-control" [hidden]="!question.editMode" />
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <p class="card-text">Code: {{ question.questionText[0].language.code }}</p>
            </div>
            <div class="col">
              <p class="card-text">Weight: {{ question.weight }}</p>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button class="btn btn-danger me-2" (click)="deleteQuestion(question.id)">Delete</button>
            <button class="btn btn-primary ml-2 me-2" [disabled]="question.editMode" (click)="editQuestion(question)">Edit</button>
            <button class="btn btn-success ml-2" *ngIf="question.editMode" (click)="saveQuestion(question)">Save</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
